spring:
  application:
    name: event-platform
  datasource:
    url: jdbc:postgresql://localhost:5432/event_collab_db
    username: eventuser
    password: eventpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect


server:
  port: 8080

app:
  jwt:
    secret: "this-is-my-secret-key-for-jwt-token"
    expiration-ms: 86400000