version: 1.0.0

services:
  postgres:
    image: 'postgres:17'
    container_name: eventcollab_postgres
    environment:
      - 'POSTGRES_DB=event_collab_db'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: eventcollab-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@eventcollab.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8082:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin


volumes:
  postgres_data:
  pgadmin_data:
